/*************************************************************************************************/
/* BACKGROUND-COLOR --> A ameliorer avec Bootstrap... */
/*************************************************************************************************/

html {
	height: auto;
	background-color: grey;
}

body {
	width: auto;
	background-color: grey;
}

container {
	width: 100%;
	background-color: grey;
}

.div-container {
	width: 100%;
	background-color: grey;
}

/*************************************************************************************************/
/* HEADER */
/*************************************************************************************************/

.p-vous-etes-connecte {
	padding-left: 20px;
}

/*************************************************************************************************/
/* FORM */
/*************************************************************************************************/

.form-margin-padding {
	margin: 20px;
	padding: 20px;
}

.form-border {
	border-radius: 10px;
}

.form-label-color {
	color: lightgrey;
}

form:errors {
	padding-top: -5px;
	margin-bottom: 10px;
}

/*************************************************************************************************/
/* LIST */
/*************************************************************************************************/

.p-list-text-color {
	color: lightgrey;
}